:root { 
    /* Primary  */
    --strong-cyan: hsl(172, 67%, 45%);
    /* Neutral */
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayis-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
} 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Space Mono", sans-serif;
    font-weight: 700;
}

#container {
    display: grid;
    grid-template-areas: 
    "header"
    "form"; 
    grid-template-rows: 0.3fr 1fr;
    grid-template-columns: 1fr;
    min-width: 290px;
}

header {
    grid-area: header;
    background-color: var(--light-grayish-cyan);
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

form {
    grid-area: form;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 30px;
    margin-top: -20px;
    background-color: var(--white);
}

.wrapper {
    display: flex;
    flex-direction: column;
}

section{
    margin-bottom: 40px;
}

.label {
    font-size: 18px;
    color: var(--dark-grayis-cyan);
}

input {
    background-color: var(--very-light-grayish-cyan);
    border: none;
    margin-top: 0px;
    border-radius: 5px;
}   

#bill, #people {
    background-image: url("./images/icon-dollar.svg");
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: 20px center;
    width: 100%;
    padding: 5px 20px;
    text-align: right;
    color: var(--very-dark-cyan);
    font-size: 24px;
} 

.correct {
    outline-color: var(--strong-cyan);
}

.error  {
    outline-color: rgba(255, 0, 0, 0.561);

}

.label-container {
    display: flex;
}
.error-msg {
    display: none;
    font-size: 15px;
    margin-left: auto;
    color: rgba(255, 0, 0, 0.561);
}

#tips {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 150px));
    gap: 13px;
}

.tip {
    font-size: 24px;
    background-color: var(--very-dark-cyan);
    color: var(--white);
    cursor: pointer;
    padding: 5px 0;
    border-radius: 5px;
}

.tip:hover {
    background-color: var(--light-grayish-cyan);
    color: var(--very-dark-cyan);
}

.selected {
    background: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

.tip-custom {
    font-size: 24px;
    text-align: right;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--very-dark-cyan);
}
.tip-custom::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.tip-custom::placeholder{
    color: var(--dark-grayis-cyan);
    text-align: center;
}

#people {
    background-image: url("./images/icon-person.svg");
}

#people::placeholder, #bill::placeholder{
    color: var(--dark-grayis-cyan);
}

#result {
    background-color: var(--very-dark-cyan);
    color: white;
    border-radius: 15px;
    padding: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.amount,.total {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.desc h1{ 
    font-size: 16px;
}

.desc p{ 
    color: var(--dark-grayis-cyan);
    font-size: 13px;
}

.price {
    margin-left: auto;
    font-size: 30px;
    color: var(--strong-cyan);
}

.submit {
    margin-top: 15px;
    background-color: hsl(172, 67%, 30%);
    color: hsl(172, 67%, 15%);
    border: none;
    width: 100%;
    text-transform: uppercase;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

.active {
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

.submit:hover {
    background-color: var(--light-grayish-cyan);
    color: var(--very-dark-cyan);
}


@media (min-width: 1024px) {
    body{
        background-color: var(--light-grayish-cyan);
    }    
    
    #container {
        max-width: 950px;
        margin-inline: auto;
        grid-template-rows: .8fr 1fr;
    }

    section{
        margin-bottom: 30px;
    }
    section:last-child {
        margin: 0;
    }

    .label {
        font-size: 16px;
        margin: 0 0 2px;
    }

    form {
        max-height: 470px;
        border-radius: 15px;
    }

    .datas {
        width: 400px;
        margin-right: 50px;
        padding: 10px 0 0;
    }
    
    .wrapper {
        margin: 0;
        padding: 0;
        flex-direction: row;
    }

    #tips {
        grid-template-columns: repeat(auto-fit, minmax(80px, 123px));
        gap: 15px;
        max-width: 100%;
        margin-top: 15px;
    }

    #result {
        width: 420px;
        padding: 40px 30px;
    }
    #result button {
        font-size: 20px;
    }
    .amount, .total {
        padding: 5px 10px;
    }
    .amount {
        margin-bottom: 25px;
    }
    .price { 
        font-size: 40px;
    }


}